*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    display: flex;
    height: 49px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
.header{
    display: flex;
    justify-content: space-evenly;
}
nav a{
    display: inline-block;
    position: relative;
    color: white;
}
nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main{
    min-height: 450px;
    width: 70%;
    border-radius: 50px;
    background-color: rgb(221, 223, 223,0.5);
    margin: 0px 50px;
}
#status{
    font-style: italic;
    padding: 20px 0px;
    text-align: center;
    font-size: 24px;
    color: #007bff;
}
table {
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    border-radius: 20px;
}
th {
    
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
td img {
    max-width: 100px;
    height: auto;
}
.quantity-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.quantity-button + .quantity-button {
    margin-left: 5px;
}
.pay{
    margin-top: 50px;
    height: fit-content;
    border-radius: 50px;
    background-color: rgb(221, 223, 223,0.5);
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.btn{
    text-align: center;
    align-items: center;
    color: black;
    font-weight: 800;
    border-radius: 20px;
    border: none;
    margin-left: 40px;
    height: 35px;
    width: 200px;
    cursor: pointer;
}
.pay p {
    line-height: 25px;
    margin-left: 30px;
}
.payment{
    display: flex;
    text-align: end;
}
.amt{
    padding-right: 20px;
}
.suggest{
    padding:50px 70px;
}
.suggest-name{
    font-size: 19px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
    font-weight: 700;
}
.suggestion{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(221, 223, 223,0.5);
}
.btnn{
    background-color: aquamarine;
}
.sug-item{
    width: fit-content;
    padding: 29px 50px ;
}
.sug-item img{
    width: 179px;
}
.sug-item img{
    height: 170px;
    cursor: pointer;
    width: 139px;
    background-color: white;
}
.sug-item Button {
    background-color: rgb(31, 247, 247);
    padding: 7px 15px 7px 15px;
    border-radius: 20px;
    margin-left: 20%;
    border: none;
    cursor: pointer;
    margin-bottom: 19px ;
}
.sug-item span{
    margin-left: 25px;
    font-style: italic;
    color: gray;
}
.info{
    cursor: pointer;
    text-align: center;
    padding: 19px;
}
.name{
    font-size: 15px;
    height: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.price{
    color: green;
}
.spec{
    color: rgb(71, 71, 71);
}
.main-div{
    display: flex; width: 100%; margin: 0px; padding: 0px;
}

.amt{
    margin-left: -20px;
}
@media screen and (max-width: 480px) {
   *{
    margin: 0px;
    padding: 0px;
   }
    nav a {
        margin: 10px 0;
    }
    nav {
        flex-direction: column;
        display: flex;
        align-items: center;
        height: auto;
        padding: 10px 0;    
    }
    .header {
        display: flex;
        align-items: center;
    }
    .header a{
        padding-left: 40px;
    }
    .main {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
    }
    .main-div{
        display: block;
    }
    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }

    .btn {
        width: 90%;
        margin: 20px ;
    }
    .btnn{
        margin-top: 30px;
    }
    .pay {
        margin-left: 0;
        margin-top: 20px;
    }

    .pay p {
        margin-left: 0;
        text-align: center;
    }
    .pay-detail{
        padding: 15px;
    }
    .payment {
        
        align-items: center;
        text-align: center;
    }

    .amt {
        padding-right: 0;
        margin-top: 5px;
    }


    .sug-item {
        width: 100%;
        width: 80%;
        text-align: center;
    }

    .sug-item img {
        max-width: 100%;
        height: auto;
    }

    .sug-item span {
        margin-left: 0;
        margin-top: 5px;
    }
    .sug-item button{
        margin-left: 0%;
    }
    .info {
        text-align: center;
        padding: 10px;
    }

    .name {
        font-size: 14px;
        height: auto;
    }

    .price {
        font-size: 14px;
    }

    .spec {
        font-size: 12px;
    }
}